* {
  box-sizing: border-box;
}
body, html {
  background-color: #0D0D0D;
}
 
.navbar {
  
  background-color:  #0D0D0D;
  border-bottom: 1px solid #734349;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav_menu, .socials {
  display: flex;
}

.navbar a {
  font-family: "Hind Madurai", sans-serif;
  color: #D1C8BF;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 20px;
}


.main {
  display: flex;
  flex-wrap: nowrap;
  
}
.image-section {
  width: 50%;
  background-size: cover;
  background-position: right;

}

.image-section img {
  width: 80%;
  margin: 10%;
}

.text-section {
  padding: 50px 60px 0 60px;
  width: 50%;
  font-family: Arial, sans-serif;
}

.text-section h1 {
  font-family: 'Bodoni Moda', serif;
  color: #D1C8BF;
  font-size: 48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 40px;
  
}

.text-section h2 {
  font-family: "Hind Madurai", sans-serif;
  color: #734349;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #734349;
  border-top: 1px solid #734349;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding:10px
}

.text-section p {
  padding-top: 40px;
  color: #D1C8BF;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Hind Madurai", sans-serif;
  letter-spacing: 0.2em;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.info-section div {
  border-right: 4px solid #5E525C;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-width: 1px;
  padding: 10px;
  color: #B88691;
  line-height: 1.6;
}

.info-image img {
  width: 80%;
  transform: rotate(20deg);
  height: auto;
}

.about-text h1 {
  text-decoration: none;
  text-shadow: 0 2px 3px #734349;
  letter-spacing: 0.1em;
  font-family: 'Bodoni Moda', serif;
  color: #D1C8BF;
  font-size: 48px;
  text-transform: uppercase;
}

.about-text p {
  font-family: "Hind Madurai", sans-serif;
  color: #D1C8BF;
  font-size: 16px;
  padding-top: 40px;
  line-height: 1.4;
  letter-spacing: 0.2em;
}

.about-text {
  float: left;
  width: 50%;
  height: auto;
  margin: 20px;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.about-image {
  float: right;
  width: 40%;
  margin-right: 30px;
  padding: 10px;
  margin-top: 100px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  
}

footer {
  color: #D1C8BF;
}


@media (max-width: 960px) {
  /* všechny styly pro tablet */
  
}
@media (max-width: 480x) {
  /* všechny styly pro mobil */
  
}
